*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vh;
}
.item1{
    width: 100vh;
    background-color: hsl(31, 77%, 52%);
    height: 50vh;
    border-radius: 8px 0 0 8px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.item2{
    width: 100vh;
    background-color: hsl(184, 100%, 22%);
    height: 50vh;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.item3{
    width: 100vh;
    background-color: hsl(179, 100%, 13%);
    height: 50vh;
    border-radius: 0 8px 8px 0;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header{
    font-family:'Big Shoulders Display', cursive;
    color: white;
    text-align: left;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

.learn-more-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 90px;
}

.learn-more1{
    border: 1px solid white;
    padding: 12px;
    border-radius: 20px;
    width: 13vh;
    background-color:hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%) ;
}

.learn-more2{
    border: 1px solid white;
    padding: 12px;
    border-radius: 20px;
    width: 13vh;
    background-color:hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
}


.learn-more3{
    border: 1px solid white;
    padding: 12px;
    border-radius: 20px;
    width: 13vh;
    background-color:hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
}
